.active {
  border: 1px solid #d32424;
  color: #d32424
}

.pagination {
  padding: 1% 60px;
}

.pagination__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 8px 13px;
  cursor: pointer;
  margin-right: 12px;
  color: #fe5f1e;
  border: 1px solid #fe5f1e;
  background-color: transparent;
  transition: all 0.5s ease;
}

.pagination__item:hover {
  background-color: #fe5f1e;
  color: #fff;
}

.pagination__item:last-child {
  margin-right: 0px;
}

.pagination__item[disabled] {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}

.pagination__item_active {
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 700;
}
.pagination__item_unselectable{
  cursor: auto;
  border: none;
  &:hover{
    color: #fe5f1e;
    background-color: transparent;
  }
}
.pagination__item_inaction{
  color: #ddd;
  border-color: #ddd;
  background-color: transparent;
}
.pagination__item_inaction:hover{
  color: #ddd;
  border-color: #ddd;
  background-color: transparent;
}



@media all and (max-width: 1100px) {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }
}
@media all and (max-width: 350px) {
  .pagination {
    padding: 5px 5px;
  }
}